*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑Arial, Arial, sans-serif;
}
body{
    min-width: 1000px;
    touch-action: none;
}
canvas{
    cursor: crosshair;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 10px 4px 20px;
}
.container{
    width: 98%;
    margin: 0 auto;
}
.triangle-r{
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent transparent cornflowerblue ;
    border-width:13px;
    height: 0px;
    width: 0px;
    overflow: hidden;
}
.col-7{
    width: 68%;
    float: left;
    margin-left: 20px;
}
.col-3{
    margin-left: 20px;
    width: 25%;
    float: left;
}
.row:after{
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.text-blue {
    color: cornflowerblue;
}
.fl{
    float: left;
}
.mid{
    vertical-align: middle;
}
.active{
    border: 3px solid fuchsia !important;
}

.rect{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid black;
    text-align: center;
    margin:0 2px 0;
    cursor: pointer;
}
.ctl-row{
    border: 1px solid darkgreen;
    background-color: beige;
    padding-top:3px;

    border-radius: 6px;
    margin: 2px 0 2px;
}

.box-sh{
    box-shadow: 0px 0px 8px 3px #bbb;
}
.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
    font-size: 14px;
}
.btn-blue{
    background-color: cornflowerblue;
    color: azure;
}
.btn:hover{
    box-shadow: 0px 0px 2px 2px #bbb;
}

#msg{
    overflow-y: scroll;
    padding: 0 10px 0;
    /*width: 100%;*/
    min-height: 400px;
    max-height: 600px;
}
#msg p{
    white-space:nowrap;
}
input[type=range]{cursor: pointer;}
input[type=text]{
    height: 20px;
    font-size: 16px;
    margin: 5px;
    width: 90%;
}